* {
  color: black;
  margin: 0;
  color: white;
}

#MovieSearchResult {
  margin-top: 5rem;
}

.result {
  padding: 2rem;
}

.poster {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 4px;
  cursor: pointer;
}

/* .div-img {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-left: 0;
  overflow-y: visible;
  overflow-x: scroll;
} */

.poster::-webkit-scrollbar {
  display: none;
}

.poster:hover {
  transform: scale(1.12);
  transition: .4s;
}

.poster:first-child:hover {
  transform: scale(1.12) translate(10px, -10px);
}

.div-img:first-child>.poster {
  padding: 0;
}

.contents {
  padding: 0 1rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.posters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; */
}

@media screen and (max-width:375px) {
  .title {
    font-size: 15px;
  }
}