* {
  color: black;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


#MoviList {
  width: 100%;
}

.title {
  font-size: 1.25rem;
  text-align: left;
  margin: 0;
  font-weight: 700;
}

.poster {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 4px;
}

.div-img {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-left: 0;
  overflow-y: visible;
  overflow-x: scroll;
}

.div-img::-webkit-scrollbar {
  display: none;
}

.poster:hover {
  transform: scale(1.12);
  transition: .4s;
}

.div-img:first-child>.poster {
  padding: 0;
}

.contents {
  padding: 0 1rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.posters {
  display: flex;
  justify-content: center;
  /* flex-wrap: nowrap; */
}