* {
  box-sizing: border-box;
  margin: 0;
  color: #ffffff;
  background-color: black;
}

.community {
  width: 100%;
  margin-top: 5rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}

.table {
  margin-top: 3rem;
}



.write-btn {
  margin-top: 1rem;
  border: 0.5px solid #4B4A54;
  border-radius: 8%;
  /* width: 4rem; */
  position: relative;
  right: 0;
}



table {
  width: 100%;
  border-top: 2px solid black;
  border-radius: 50%;
  margin: 0;
  position: relative;
  /* left: 50%; */
  /* transform: translate(50%, 0); */
  text-align: center;

}

thead {
  background-color: rgb(233, 235, 233, 0.5)
}

tr {
  border-bottom: 0.5px solid #4B4A54;
}

.num {
  width: 5%
}

.writer {
  width: 10%;
}

.title {
  width: 70%;

}

.review-title {
  cursor: pointer;
}

.data {
  width: 15%;
}