* {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  color: #ffffff;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 20px 0;
  align-items: center;
}

.review-btn {
  width: 120px;
  height: 35px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  color: black;

  border-radius: 5px;
  margin-right: 10px;
}

.add-list {
  border: none;
  width: 30px;
  height: 35px;
  background-color: transparent;
  font-weight: 500;
  border-radius: 5px;


}

.movie-info {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: ;
  margin-left: 15px;
}

.info p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
}

.ge {
  font-weight: 600;
  font-size: 18px;
}

.genres {
  display: flex;
  /* justify-content: flex-end; */
  flex-wrap: wrap;
  align-items: center;
}

.genres span:first-child {
  margin-right: 5px;
}

.genre {
  font-size: 14px;
  display: block;
  margin-right: 10px;
}

.info-num {
  font-size: 14px;
  font-weight: normal;
}

.overview {
  margin: 25px 0;
}

.none {
  display: none;
}

.toggled {
  display: hidden;
}