* {
  box-sizing: border-box;
  margin: 0;
}

#Signup {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 400px;
  height: 540px;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.signup input:first-child {
  margin-top: 20px;
}

.signup input {
  margin-top: 7px;
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(250, 250, 250);
}

.select-genre {
  width: 400px;
}

.select-genre p {
  margin: 20px 0 10px;
  color: gray;
}

.genre {
  width: 300px;
  height: 80px;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.genre option {
  margin: 1px;
}

.signup-btn {
  margin-top: 30px;
  height: 40px;
  border: none;
  background-color: rgb(58, 149, 239);
  border-radius: 5px;
  font-weight: 700;
  color: #ffffff;
}

.login {
  margin-top: 20px;
  width: 400px;
  height: 100px;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.login-item {
  text-decoration: none;
  font-weight: 600;
}