* {
  box-sizing: border-box;
}



.navbar {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 0;
  /* background-color: black; */
}

video {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  padding: 0.5rem 3rem;
  z-index: 1;
}

.header {
  display: flex;
}

.logo {
  color: rgb(211, 47, 39);
  margin-right: 2rem;
  font-size: 1.7rem;
  font-weight: 900;
  align-items: center;
  text-decoration: none;
}

.nav {
  display: flex;
  color: #ffffff;
  align-items: center;
  font-weight: 600;
}

.nav-item {
  margin-right: 1rem;
  text-decoration: none;
  color: #ffffff
}

.menu {
  display: flex;
  margin-left: auto;
  color: #ffffff;
  align-items: center;
  font-weight: 600
}

.menu-item {
  margin-left: 1rem;
  text-decoration: none;
  color: #ffffff;
}



.search img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  background-color: black;
  transition: all 1s;
}

.search-bar {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  font-size: 12px;
}

.search-bar:focus::-webkit-input-placeholder {
  color: transparent
}

.hidden {
  display: none;
}

@media screen and (max-width: 375px) {
  .navbar {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
  }

  .logo {
    font-size: 20px;
    margin: 0;
  }

  .nav {
    padding: 0;
  }

  .nav-item {
    margin-right: 5px;
  }

  .nav-item:first-child {
    display: none;
  }

  .my-list {
    display: none;
  }

  .watched-list {
    display: none;
  }

  .overlay {
    padding: 0;
  }

  .menu {
    margin: 0;
  }

  .profile {
    display: none;
  }
}