* {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  color: white;
}

#ReviewUpdate {
  width: 70%;
}

.update {
  padding: 1rem 3rem;
}

.reviewupdate {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(233, 235, 233, 0.8);
  border-radius: 2%;
  margin: 1rem 0 0 2rem;
  padding: 2rem;
}

.movie-title {
  margin-bottom: 15px;
}

.title {
  margin: 5% 0;
}

.title label {
  margin-right: 10px;
  font-size: 14px;
}

.title input {
  width: 500px;
  border-radius: 5px;
  border: 1px solid black;
}

.content {
  display: flex;
}

.content label {
  font-size: 14px;
  margin-right: 10px;
}

.content textarea {
  width: 500px;
  resize: none;
  border-radius: 10px;
}






.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn button {
  margin-right: 0.5rem;
  border: none;
  font-weight: 800;
  border-radius: 8%;
}

.btn button:last-child {
  margin-right: 0;
}

.create {

  display: flex;
  justify-content: flex-end;
}

.create button {
  border: none;
  z-index: inheritl;
  color: rgb(142, 143, 142);
  font-size: 14px;
  right: 10%;
  font-weight: 600;
}


.ratings {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ratings span {
  margin-right: 10px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.star-rating :checked~label {
  -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover~label {
  -webkit-text-fill-color: #fff58c;
}

@media screen and (max-width:375px) {
  #ReviewUpdate {
    width: 100%;
    margin-top: 3rem;
  }

  .title label {
    font-size: 14px;
  }

  .title input {
    border: 1px solid rgb(233, 235, 233, 0.8);

  }

  .update {
    padding: 0;
    margin-bottom: 10px;
  }

  .movie-title {
    font-size: 17px;
    margin: 0;
  }

  .reviewupdate {
    margin: 0;
    padding: 1rem;
  }

  .title input {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .content textarea {
    width: 100%;
    border: 1px solid rgb(233, 235, 233, 0.8);

  }
}